@import url("style/header.css")
@import url("style/banner.css")
@import url("style/carrossel.css")

:root{
    --preto: #000000;
    --font-principal:'poppin','sans serif';
    --branco:#FFFFFF; 
}

body {
    background-color:var(--preto);
    color: white;
    font-size:var(--fonte-principal);
}